In [1]:
#Load libraries
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import numpy as np

In [2]:
#Load the data set
survey_data =pd.read_csv('survey.csv')
survey_data.head()

,Timestamp,Age,Gender,Country,state,self_employed,family_history,treatment,work_interfere,no_employees,...,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence,comments
0,2014-08-27 11:29:31,37,Female,United States,IL,NaN,No,Yes,Often,6-25,...,Somewhat easy,No,No,Some of them,Yes,No,Maybe,Yes,No,NaN
1,2014-08-27 11:29:37,44,M,United States,IN,NaN,No,No,Rarely,More than 1000,...,Don't know,Maybe,No,No,No,No,No,Don't know,No,NaN
2,2014-08-27 11:29:44,32,Male,Canada,NaN,NaN,No,No,Rarely,6-25,...,Somewhat difficult,No,No,Yes,Yes,Yes,Yes,No,No,NaN
3,2014-08-27 11:29:46,31,Male,United Kingdom,NaN,NaN,Yes,Yes,Often,26-100,...,Somewhat difficult,Yes,Yes,Some of them,No,Maybe,Maybe,No,Yes,NaN
4,2014-08-27 11:30:22,31,Male,United States,TX,NaN,No,No,Never,100-500,...,Don't know,No,No,Some of them,Yes,Yes,Yes,Don't know,No,NaN

In [4]:
#List the columns in the dataset
list(survey_data.columns)

['Timestamp',
 'Age',
 'Gender',
 'Country',
 'state',
 'self_employed',
 'family_history',
 'treatment',
 'work_interfere',
 'no_employees',
 'remote_work',
 'tech_company',
 'benefits',
 'care_options',
 'wellness_program',
 'seek_help',
 'anonymity',
 'leave',
 'mental_health_consequence',
 'phys_health_consequence',
 'coworkers',
 'supervisor',
 'mental_health_interview',
 'phys_health_interview',
 'mental_vs_physical',
 'obs_consequence',
 'comments']

In [5]:
#Drop the comments column
survey_data1=survey_data.drop(['comments'], axis=1)
survey_data1.head()

,Timestamp,Age,Gender,Country,state,self_employed,family_history,treatment,work_interfere,no_employees,...,anonymity,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence
0,2014-08-27 11:29:31,37,Female,United States,IL,NaN,No,Yes,Often,6-25,...,Yes,Somewhat easy,No,No,Some of them,Yes,No,Maybe,Yes,No
1,2014-08-27 11:29:37,44,M,United States,IN,NaN,No,No,Rarely,More than 1000,...,Don't know,Don't know,Maybe,No,No,No,No,No,Don't know,No
2,2014-08-27 11:29:44,32,Male,Canada,NaN,NaN,No,No,Rarely,6-25,...,Don't know,Somewhat difficult,No,No,Yes,Yes,Yes,Yes,No,No
3,2014-08-27 11:29:46,31,Male,United Kingdom,NaN,NaN,Yes,Yes,Often,26-100,...,No,Somewhat difficult,Yes,Yes,Some of them,No,Maybe,Maybe,No,Yes
4,2014-08-27 11:30:22,31,Male,United States,TX,NaN,No,No,Never,100-500,...,Don't know,Don't know,No,No,Some of them,Yes,Yes,Yes,Don't know,No

In [12]:
#Function to get count
def mental_health_ill(df, health_column):
    mental_health_ill_df = df.groupby('Country')[health_column].count().reset_index()
    mental_health_ill_df=mental_health_ill_df.sort_values(health_column, ascending=False)
    return mental_health_ill_df

mental_health = mental_health_ill(survey_data1, "mental_health_consequence")

In [13]:
#Printing the count of mental health by geographic location
print("Count of mental health by geographic location is\n\n{}".format(mental_health))

Count of mental health by geographic location is

                   Country  mental_health_consequence
45           United States                        751
44          United Kingdom                        185
7                   Canada                         72
17                 Germany                         45
28             Netherlands                         27
21                 Ireland                         27
0                Australia                         21
15                  France                         13
20                   India                         10
29             New Zealand                          8
23                   Italy                          7
41                  Sweden                          7
33                  Poland                          7
42             Switzerland                          7
39            South Africa                          6
5                   Brazil                          6
3                  Belgium                          6
22                  Israel                          5
6                 Bulgaria                          4
37               Singapore                          4
36                  Russia                          3
26                  Mexico                          3
14                 Finland                          3
1                  Austria                          3
9                 Colombia                          2
13                 Denmark                          2
18                  Greece                          2
34                Portugal                          2
11                 Croatia                          2
40                   Spain                          1
38                Slovenia                          1
46                 Uruguay                          1
35                 Romania                          1
43                Thailand                          1
24                   Japan                          1
32             Philippines                          1
31                  Norway                          1
30                 Nigeria                          1
27                 Moldova                          1
25                  Latvia                          1
19                 Hungary                          1
16                 Georgia                          1
12          Czech Republic                          1
10              Costa Rica                          1
8                    China                          1
4   Bosnia and Herzegovina                          1
2             Bahamas, The                          1
47                Zimbabwe                          1